<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Hiroshige Umino" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="header">
      <a href="/" id="me">Hiroshige Umino (yaotti)</a>
      <div class="sites">
        <a href="https://github.com/yaotti">GitHub</a>
        <a href="https://twitter.com/#!/yaotti">Twitter</a>
        <a href="http://qiita.com/users/yaotti">Qiita</a>
      </div>
    </div>
      {{ content }}
    <div id="profile">
      Cofounder of <a href="http://qiita.com">Qiita</a>
    </div>
  </body>
</html>
